# deps
node_modules/
.pnpm-store/

# build
dist/
build/
.astro/
.turbo/
*.tsbuildinfo

# env / secretos (NUNCA commitear)
.env
.env.*
!.env.example

# datos locales
/data/
*.sqlite
*.sqlite-journal

# tests
coverage/
playwright-report/
test-results/

# os / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
